[Unit]
Description=Chezmoi Initialize
ConditionPathExists=!%D/chezmoi
After=network-online.target
Wants=network-online.target
[Service]
Type=oneshot
ExecStart=/usr/bin/chezmoi init --apply https://gitlab.com/unshippedreminder/dotfiles-server.git
[Install]
WantedBy=default.target 
